# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* Libraries for Data Science
* Tools used for Data Science

### Some of the popular languages that Data Scientists use are:
<ol>
    Python, 
    SQL, 
    R, 
    VB Applications, 
    Julia</ol>

### Python Libraries for Data Science
<ol> NumPy, 
    Keras, 
    Pandas, 
    PyTorch, 
    SciPy, 
    Scikit-Learn, 
    TensorFlow, 
    Matplotlib</ol>

### Data Science Tools

Pytorch
Jupyter Notebook
RStudio

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
200//60

3

## Author
Sharvari Tiwari